spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/reading?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  devtools:
    restart:
      enabled: true  #设置开启热部署
  freemarker:
    cache: false    #页面不加载缓存，修改即时生效
  thymeleaf:
    cache: false
mybatis:
  type-aliases-package: com.example.reading.entities
  mapper-locations: /mapper/*.xml
  
server:
  port: 8080
  ssl:
    key-store: src/main/resources/templates/keystore.p12
    key-store-password: 123456
    key-store-type: PKCS12
    key-alias: tomcat






